*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
tfplan
*.tfplan

*.log
crash.log
crash.*.log
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.env.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json